@model IEnumerable<Sunnet_NBFC.Models.clsLeadPostDisburse>
@{
	ViewBag.Title = "Lead Post Disbursement View";
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Lead Post Disbursement Detail</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					@*<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Employee View</li>*@

					@*<h4>@Html.ActionLink("Create New", "StageRole")</h4>*@
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">

				<!-- /.card -->
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1"  class="table table-striped table-bordered table-hover table-responsive" style="display:table;">
							@foreach (var item in Model)
							{
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.OrgDocNo)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.OrgDocNo)
									</td>
									<th>
										@Html.DisplayNameFor(model => model.DocType)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.DocType)
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.DocDate)
									</th>

									<td>
										@Html.DisplayFor(modelItem => item.DocDate)
									</td>
									<th>
										@Html.DisplayNameFor(model => model.PagesFrom)
									</th>

									<td>
										@Html.DisplayFor(modelItem => item.PagesFrom)
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.PagesTo)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.PagesTo)
									</td>
									<th>
										@Html.DisplayNameFor(model => model.AnyOther)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.AnyOther)
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.RegistrationCertificate)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.RegistrationCertificate)
									</td>
									<th>
										@Html.DisplayNameFor(model => model.InsuredHPEndorse)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.InsuredHPEndorse)
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.InvoiceHPEndorse)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.InvoiceHPEndorse)
									</td>
									<th>
										@Html.DisplayNameFor(model => model.MarginMoneyEndorse)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.MarginMoneyEndorse)
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.NOC)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.NOC)
									</td>
									<th>
										@Html.DisplayNameFor(model => model.RTOSlip)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.RTOSlip)
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.EndorsedRC)
									</th>
									<td>
										@Html.DisplayFor(modelItem => item.EndorsedRC)
									</td>
									<th>
									</th>
									<td>
									</td>
								</tr>
							}

						</table>
						@*<div class="card-footer">
								@Html.ActionLink("Export to Excel", "ExportToExcel", new { @class = "btn btn-primary" })
							</div>*@


					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>


@*<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>*@

@if (ViewBag.Error != null && ViewBag.Error != "")
{
	<script type="text/javascript">

            window.onload = function () {
               // alert("@ViewBag.Error");
				swal("TDH", "@ViewBag.Error", "error");

            };
	</script>
}
@if (ViewBag.Success != null && ViewBag.Success != "")
{
	<script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Success");
				swal("TDH", "@ViewBag.Success", "Success");
            };
	</script>
}




