
@model Sunnet_NBFC.Models.clsLeadPostDisburse
@{
    ViewBag.Title = "Lead Post Disbursement View";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lead Post Disbursement Detail</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-striped table-bordered table-hover table-responsive" style="display:table;">
                            @if (Model.MainProdName == "Bussiness Loan")
                            {

                                <tr>
                                    <th>
                                        Document Type
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.DocTypeName)
                                    </td>
                                    <th>
                                        Document Date
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.DocDate)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Pages From
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.PagesFrom)
                                    </td>
                                    <th>
                                        Pages To
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.PagesTo)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Any Other
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.AnyOther)
                                    </td>
                                    <th>
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                            }
                            else if (Model.MainProdName == "Vehicle Loan" || Model.MainProdName == "Commercial Vehicle" || Model.MainProdName == "Two Wheeler Loan")
                            {
                                <tr>
                                    <th>
                                        Registration Certificate
                                      
                                    </th>
                                    <td>
                                        Insured HP Endorse
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InsuredHPEndorse)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.InsuredHPEndorse)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Invoice HP Endorse
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.InvoiceHPEndorse)
                                    </td>
                                    <th>
                                        Margin Money Endorse
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.MarginMoneyEndorse)
                                    </td>
                                </tr>
                                <tr>
                                    <th>NOC
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.NOC)
                                    </td>
                                    <th>
                                        RTO Slip
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.RTOSlip)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Endorsed RC
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.EndorsedRC)
                                    </td>
                                    <th>
                                    </th>
                                    <td>
                                    </td>
                                </tr>
                            }




                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>





