@model Sunnet_NBFC.Models.clsLeadGenerationMaster

<div class="form-group" style="margin-top:20px;">
    <div class="col-md-12">
        <h5> Customer Info </h5>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-3">
            <label for="exampleInputEmail1">CIF Id</label>
            @Html.TextBoxFor(model => model.CIFID, new
       {
           @class = "form-control",
           @placeholder = "CIFID",
           @name = "CIFID",
           @required = "true",
           @id = "CIFID",
           @readonly = "true"

       })
        </div>


        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1"> Aadhar No </label>
            @Html.TextBoxFor(model => model.AadharNo, new
       {
           @class = "form-control",
           @placeholder = "Aadhar No",
           @name = "AadharNo",
           @required = "true",
           @id = "AadharNo",
           @maxlength = "12",
           @onkeypress= "return isNumber(this.value);"

       })
            @Html.HiddenFor(model => model.AAdharverfiy, new { @class = "form-control", @id = "hdn_customer_aadhar_verify" })


        </div>


        <div class="col-md-1">


            @if (ViewBag.AAdharIsAPICheck == "1")
            {
                <button style="margin-top: 35px;" onclick="AAdharVerification();" class="btnAadharVerify"> Verify </button>

            }
            else
            {
                <button style="margin-top: 35px;" onclick="AAdharVerification();" disabled class="btnAadharVerify"> Verify </button>

            }


        </div>



        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1"> Pan No </label>
            @Html.TextBoxFor(model => model.PanNo, new
       {
           @class = "form-control",
           @placeholder = "PanNo",
           @name = "PanNo",
           @required = "true",
           @id = "PanNo",
           @maxlength = "10"


       })
            @Html.HiddenFor(model => model.PanVerify, new { @class = "form-control", @id = "hdn_customer_PanVerify" })
        </div>






        <div class="col-md-2">



            @if (ViewBag.PANIsAPICheck == "1")
            {
                <button style="margin-top: 35px;" onclick="PanVerification();" class="btnPanVerify"> Verify </button>

            }
            else
            {
                <button style="margin-top: 35px;" onclick="PanVerification();" disabled class="btnPanVerify"> Verify </button>

            }
            <button style="margin-top: 35px;" onclick="GetCustomerData();"> Get Data </button>

        </div>


    </div>

    <div class="row">
        <div class="col-md-1">
            <label class="required" for="exampleInputEmail1">Prefix</label>

            @Html.DropDownListFor(model => model.Prefix,
      new List<SelectListItem> {
    new SelectListItem { Value = "" , Text = "- Select Prefix -" },
    new SelectListItem { Value = "Mr" , Text = "Mr." },
    new SelectListItem { Value = "Mrs" , Text = "Mrs." },
    //new SelectListItem { Value = "Smt" , Text = "Smt." }
    },
      new { @class = "form-control", @id = "Prefix" })





        </div>


        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">First Name</label>
            @Html.TextBoxFor(model => model.FirstName, new
            {
                @class = "form-control",
                @placeholder = "First Name",
                @name = "FName",
                @required = "true",
                @maxlength = "50",
                @id = "FName",
                @autocomplete = "off"
            })


        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Middle Name</label>
            @Html.TextBoxFor(model => model.MiddleName, new
       {
           @class = "form-control",
           @placeholder = "Middle Name",
           @name = "MName",
           @autocomplete = "off",
           @id = "MName"

       })
        </div>


        <div class="col-md-3">
            <label for="exampleInputEmail1">Last Name</label>
            @Html.TextBoxFor(model => model.LastName, new
       {
           @class = "form-control",
           @placeholder = "Last Name",
           @autocomplete = "off",
           @name = "LName",
           @id = "LName"

       })
        </div>

        <div class="col-md-2">
            <label class="required" for="exampleInputEmail1">Father Name</label>
            @Html.TextBoxFor(model => model.FatherName, new
            {
                @class = "form-control",
                @placeholder = "Father Name",
                @name = "FatherName",
                @required = "true",
                @maxlength = "50",
                @id = "FatherName",
                @autocomplete = "off"
            })
        </div>

    </div>


    <div class="row">

        <div class="col-md-3">
            <label for="exampleInputEmail1">Mother Name</label>
            @Html.TextBoxFor(model => model.MotherName, new
       {
           @class = "form-control",
           @placeholder = "Mother Name",
           @name = "MotherName",
           @required = "true",
           @autocomplete = "off",
           @id = "MotherName"

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Spouse Name</label>
            @Html.TextBoxFor(model => model.SpouseName, new
       {
           @class = "form-control",
           @placeholder = "Spouse Name",
           @name = "SpouseName",
           @required = "true",
           @autocomplete = "off",
           @id = "SpouseName"

       })
        </div>




        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Gender</label>
            @Html.DropDownListFor(model => model.Gender,
            new List<SelectListItem> {
            new SelectListItem { Value = "0" , Text = "- Select Gender -" },
            new SelectListItem { Value = "Male" , Text = "Male" },
            new SelectListItem { Value = "Female" , Text = "Female" },
            new SelectListItem { Value = "Transgender" , Text = "Transgender" }
            },
            new { @class = "form-control", @id = "Gender" })

        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Date of Birth</label>
            @Html.TextBoxFor(model => model.DateofBirth, new
            {
                @class = "form-control datestyle",
                @placeholder = "Date of Birth",
                @name = "Dob",
                @required = "true",
                @id = "Dob",

            })
        </div>



    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Martial Status</label>

            @Html.DropDownListFor(model => model.MartialStatus,
      new List<SelectListItem> {
 new SelectListItem { Value = "" , Text = "- Select Marital -" },
 new SelectListItem { Value = "Single" , Text = "Single" },
 new SelectListItem { Value = "Married" , Text = "Married" },
 new SelectListItem { Value = "Divorce" , Text = "Divorce" },
 new SelectListItem { Value = "Widow" , Text = "Widow" }
  },
      new { @class = "form-control", @id = "MartialStatus" })

        </div>




        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Corrospondance Address</label>
            @Html.TextBoxFor(model => model.PresentAddress, new
       {
           @class = "form-control",
           @placeholder = "Present Address",
           @name = "PresentAddress",
           @required = "true",
           @id = "PresentAddress",
           @autocomplete = "off",
           @onchange = "SetValues();"

       })
        </div>




        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Corrospondance Pincode</label>
            @Html.TextBoxFor(model => model.PresentPincode, new
       {
           @class = "form-control",
           @placeholder = "Present Pincode",
           @name = "PresentPincode",
           @required = "true",
           @id = "PresentPincode",
           @autocomplete = "off",
           @onchange = "GetStateCity_PIN(this.value,customerpresentState,customerpresentcity);",
           @onkeypress = "return isNumber(this.value);",
           @maxlength="6"
       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Corrospondance State</label>
            @Html.TextBoxFor(model => model.PresentStateId, new
       {
           @class = "form-control",
           @placeholder = "- Select State -",
           @name = "- Select State -",
           @required = "true",
           @type = "text",
           @id = "customerpresentState",
           @autocomplete = "off",
           @onchange = "SetValues2();",
           @readonly = "true"
       })
            @Html.ValidationMessageFor(model => model.PresentStateId, "", new { @class = "text-danger" })

        </div>
    </div>



    <div class="row">


        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Corrospondance City</label>
            @Html.TextBoxFor(model => model.PresentCityId, new
       {
           @class = "form-control",
           @placeholder = "- Select City -",
           @name = "- Select City -",
           @required = "true",
           @type = "text",
           @id = "customerpresentcity",
           @onchange = "SetValues3();",
           @autocomplete = "off",
           @readonly = "true"

       })
            @*@Html.DropDownListFor(model => model.PresentCityId, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.PresentCityId, "", new { @class = "text-danger" })


        </div>


        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Corrospondance Village</label>
            @Html.TextBoxFor(model => model.PresentVillage, new
       {
           @class = "form-control",
           @placeholder = "Present Village",
           @name = "Present Village",
           @required = "true",
           @id = "PresentVillage",
           @onchange = "SetValues4();"

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Corrospondance District</label>
            @Html.TextBoxFor(model => model.PresentDistrict, new
       {
           @class = "form-control",
           @placeholder = "Present District",
           @name = "Present District",
           @required = "true",
           @id = "PresentDistrict",
           @onchange = "SetValues5();"

       })
        </div>

    </div>




    <div class="row" style="margin-bottom:10px; margin-top:10px;">
        <div class="col-md-12">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" onchange="mytest();">
            <label for="vehicle1"> Permanent Address As Same As Corrospondance Address</label><br>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent Address</label>
            @Html.TextBoxFor(model => model.PermanentAddress, new
       {
           @class = "form-control",
           @placeholder = "Permanent Address",
           @name = "PermanentAddress",
           @required = "true",
           @autocomplete = "off",
           @id = "PermanentAddress"

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent Pincode</label>
            @Html.TextBoxFor(model => model.PermanentPincode, new
       {
           @class = "form-control",
           @placeholder = "Permanent Pincode",
           @name = "PermanentPincode",
           @required = "true",
           @type = "number",
           @id = "PermanentPincode",
           @autocomplete = "off",
           @onchange = "GetStateCity_PIN(this.value,customerpermanentstate,customerpermanentcity);",
           @onkeypress = "return isNumber(this.value);",
           @maxlength=6
       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent State</label>
            @Html.TextBoxFor(model => model.PermanentStateId, new
       {
           @class = "form-control",
           @placeholder = "- Select State -",
           @name = "- Select State -",
           @required = "true",
           @type = "text",
           @autocomplete = "off",
           @readonly = "true",
           @id = "customerpermanentstate",


       })

            @Html.ValidationMessageFor(model => model.PermanentStateId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent City</label>
            @Html.TextBoxFor(model => model.PermanentCityId, new
       {
           @class = "form-control",
           @placeholder = "- Select City -",
           @name = "- Select City -",
           @required = "true",
           @type = "text",
           @autocomplete = "off",
           @readonly = "true",
           @id = "customerpermanentcity",


       })


            @*@Html.DropDownListFor(model => model.PermanentCityId, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.PermanentCityId, "", new { @class = "text-danger" })


        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent Village</label>
            @Html.TextBoxFor(model => model.PermanentVillage, new
       {
           @class = "form-control",
           @placeholder = "Permanent Village",
           @name = "Permanent Village",
           @required = "true",
           @id = "PermanentVillage",
           @autocomplete = "off"

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent District</label>
            @Html.TextBoxFor(model => model.PermanentDistrict, new
       {
           @class = "form-control",
           @placeholder = "Permanent District",
           @name = "Permanent District",
           @required = "true",
           @id = "PermanentDistrict",
           @autocomplete = "off"

       })
        </div>



        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Cibil Score</label>
            @Html.TextBoxFor(model => model.CibilScore, new
       {
           @class = "form-control",
           @placeholder = "Cibil Score",
           @name = "CibilScore",
           @autocomplete = "off",
           @required = "true",
           @id = "CibilScore"

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Mobile Number</label>
            @Html.TextBoxFor(model => model.MobileNo1, new
       {
           @class = "form-control",
           @placeholder = "Mobile Number1",
           @name = "MobileNumber1",
           @required = "true",
           @autocomplete = "off",
           @id = "MobileNumber1",
           @maxlength = "10",
           @onkeypress = "return isNumber(this.value);"
           

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Father Mobile Number</label>
            @Html.TextBoxFor(model => model.FatherMobileNo, new
       {
           @class = "form-control",
           @placeholder = "Father Mobile Number",
           @name = "FatherMobileNumber",
           @required = "true",
           @id = "FatherMobileNumber",
           @autocomplete = "off",
           maxlength = "10",
           @onkeypress = "return isNumber(this.value);"

       })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">
                Mother Mobile Number
            </label>
            @Html.TextBoxFor(model => model.MotherMobileNo, new
       {
           @class = "form-control",
           @placeholder = "Mother Mobile Number",
           @name = "MotherMobileNumber",
           @id = "MotherMobileNumber",
           @autocomplete = "off",
           @maxlength = "10",
           @onkeypress = "return isNumber(this.value);"

       })
        </div>


    </div>
    <div class="row">

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">
                Spouse Mobile Number
            </label>
            @Html.TextBoxFor(model => model.SpouseMobileNo, new
       {
           @class = "form-control",
           @placeholder = "Spouse Mobile Number",
           @name = "SpouseMobileNumber",
           @id = "SpouseMobileNumber",
           @autocomplete = "off",
           @maxlength = "12",
           @onkeypress = "return isNumber(this.value);"


       })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Email Id</label>
            @Html.TextBoxFor(model => model.EmailId, new
       {
           @class = "form-control",
           @placeholder = "Email Id",
           @name = "EmailId",
           @autocomplete = "off",
           @id = "EmailId"

       })
        </div>


        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Applicant Image</label>
            <input type="file" id="fileuploadapplicantimg" accept="image/x-png,image/jpeg" />
        </div>
    </div>

</div>
