@model Sunnet_NBFC.Models.clsStageRole
@using Sunnet_NBFC.App_Code
@using Sunnet_NBFC.Models
@{
	ViewBag.Title = "StageRole";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Stage Role</h1>
			</div>
			<div class="col-sm-6">
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

@using (Html.BeginForm("StageRole", "StageRole", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })


	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">

							<div class="form-group">
								<div class="row">
									<div class="col-md-12">
										@Html.HiddenFor(model => model.ReqType)
										@Html.HiddenFor(model => model.StageRoleId)
										@Html.HiddenFor(model => model.CompanyID)
										@Html.HiddenFor(model => model.IsDelete)

										@*@Html.HiddenFor(model => model.CreateBy)
											@Html.HiddenFor(model => model.UpdateBy)*@


									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-md-2">
										@Html.LabelFor(model => model.StageRoleEmpId, new { @class = "control-label" })
									</div>

									<div class="col-md-4">
										@Html.DropDownListFor(model => model.StageRoleEmpId, clsEmoloyeeDDL.GetEmoloyeeDDL(), "Select", new { @class = "form-control", @id = "EmpID" })
										@Html.ValidationMessageFor(model => model.StageRoleEmpId, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="row">

									<div class="col-md-6">
										@Html.LabelFor(model => model.StageRoleEmpCode, new { @class = "control-label" })
										@Html.TextBoxFor(model => model.StageRoleEmpCode, new { @class = "form-control",id = "EmpCode",@readonly=true })
										@Html.ValidationMessageFor(model => model.StageRoleEmpCode, "", new { @class = "text-danger" })
									</div>

									<div class="col-md-6">
										@Html.LabelFor(model => model.StageRoleEmpName, new { @class = "control-label" })
										@Html.TextBoxFor(model => model.StageRoleEmpName, new { @class = "form-control", id = "EmpName", @readonly = true })
										@Html.ValidationMessageFor(model => model.StageRoleEmpName, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										@Html.LabelFor(model => model.StageRoleName, new { @class = "control-label" })
										@Html.DropDownListFor(model => model.StageRoleName, clsRoleDDL.GetRoleDDL(), "Select", new { @class = "form-control" })
										@Html.ValidationMessageFor(model => model.StageRoleName, "", new { @class = "text-danger" })
									</div>

									<div class="col-md-6">

									</div>


								</div>


							</div>







							<div class="card-footer">
								@if (Model.StageRoleId != null && Model.StageRoleId != 0)
								{
									<input type="submit" value="Update" class="btn btn-primary" />
								}
								else
								{
									<input type="submit" value="Save" class="btn btn-primary" />
								}
								@Html.ActionLink("Cancel", "StageRoleView", "StageRole", null, new { @class = "btn btn-danger btn-large" })
							</div>


						</div>
					</div>

				</div>
			</div>
		</div>

	</section>

}

<script src="~/Scripts/CustomJS/StageRole.js"></script>
@if (ViewBag.Error != null && ViewBag.Error != "")
{
	<script type="text/javascript">

            window.onload = function () {
               // alert("@ViewBag.Error");
				swal("TDH", "@ViewBag.Error", "error");
				callfillemp();
            };
	</script>
}
@if (ViewBag.Success != null && ViewBag.Success != "")
{
	<script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Success");
				swal("TDH", "@ViewBag.Success", "Success");
            };
	</script>
}



<script>

	$(document).ready(function () {
		$('.datepicker').datepicker();
	});

	
</script>


