@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<div class="form-group" style="margin-top:20px;">
    <div class="col-md-12">
        <h5> Co-Applicant Details</h5>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-4">
            <label for="exampleInputEmail1">CIF Id</label>
            @Html.TextBoxFor(model => model.CIFID, new
       {
           @class = "form-control",
           @placeholder = "CIFID",
           @name = "CIFID",
           @required = "true",
           @id = "txtCoCIF",

       })
        </div>
        <div class="col-md-4">
            <label class="required" for="exampleInputEmail1"> Aadhar No </label>
            @Html.TextBoxFor(model => model.CO_Adhaar, new
       {
           @class = "form-control",
           @placeholder = "Aadhar No",
           @name = "CO_AadharNo",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_AadharNo",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "12",



       })
            @Html.HiddenFor(model => model.CO_AAdharverfiy, new { @class = "form-control", @id = "hdn_co_aadhar_verify" })
        </div>
        <div class="col-md-4">
            <label class="required" for="exampleInputEmail1"> Pan No </label>
            @Html.TextBoxFor(model => model.CO_PAN, new
       {
           @class = "form-control",
           @placeholder = "PanNo",
           @autocomplete = "off",
           @name = "CO_PanNo",
           @required = "true",
           @id = "CO_PanNo",
           @maxlength = "10",
           @onblur = "return ValidatePAN(this.value,id);"
       })
            @Html.HiddenFor(model => model.CO_Panverfiy, new { @class = "form-control", @id = "hdn_co_PanVerify" })
            @Html.HiddenFor(model => model.CO_LeadCustomerId, new { @id = "hfCOLeadCustomerID" })
        </div>



    </div>

    <div class="row">
        <div class="col-md-1">
            <label class="required" for="exampleInputEmail1">Prefix</label>

            @Html.DropDownListFor(model => model.Co_PrefixName,
      new List<SelectListItem> {
    new SelectListItem { Value = "0" , Text = "- Select Prefix -" },
    new SelectListItem { Value = "Mr." , Text = "Mr." },
    new SelectListItem { Value = "Mrs." , Text = "Mrs." },
    //new SelectListItem { Value = "Smt" , Text = "Smt." }
    },
      new { @class = "form-control", @id = "CoPrefix" })
            @Html.HiddenFor(model => model.Co_PrefixName, new { @class = "form-control", @id = "hdnCOPrefix" })
        </div>



        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">First Name</label>
            @Html.TextBoxFor(model => model.CO_FirstName, new
       {
           @class = "form-control",
           @placeholder = "First Name",
           @name = "FName",
           @required = "true",
           @autocomplete = "off",
           @maxlength = "50",
           @id = "CO_FName"
       })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Middle Name</label>
            @Html.TextBoxFor(model => model.CO_MiddleName, new
       {
           @class = "form-control",
           @placeholder = "Middle Name",
           @autocomplete = "off",
           @name = "MName",
           @required = "true",
           @id = "CO_MName"

       })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Last Name</label>
            @Html.TextBoxFor(model => model.CO_LastName, new
       {
           @class = "form-control",
           @placeholder = "Last Name",
           @autocomplete = "off",
           @name = "LName",
           @required = "true",
           @id = "CO_LName"

       })
        </div>

        <div class="col-md-2s">
            <label class="required" for="exampleInputEmail1">Gender</label>
            @Html.DropDownListFor(model => model.CO_Gender,
                 new List<SelectListItem> {
                                    new SelectListItem { Value = "0" , Text = "- Select Gender -" },
                                    new SelectListItem { Value = "Male" , Text = "Male" },
                                    new SelectListItem { Value = "Female" , Text = "Female" },
                                    new SelectListItem { Value = "Transgender" , Text = "Transgender" }
                 },
                 new { @class = "form-control", @id = "CO_Gender" })


        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Father's Name</label>
            @Html.TextBoxFor(model => model.CO_FatherName, new
       {
           @class = "form-control",
           @placeholder = "Father's Name",
           @name = "Dob",
           @required = "true",
           @autocomplete = "off",
           @id = "txtCoFathName",

       })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">Mother's Name</label>
            @Html.TextBoxFor(model => model.CO_MotherName, new
       {
           @class = "form-control",
           @placeholder = "Mother's Name",
           @name = "Dob",
           @required = "true",
           @autocomplete = "off",
           @id = "txtCoMothName",

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Date of Birth</label>
            @Html.TextBoxFor(model => model.CO_DOB, new
       {
           @class = "form-control datestyle",
           @placeholder = "Date of Birth",
           @name = "Dob",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_Dob",

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Marital Status</label>


            @Html.DropDownListFor(model => model.CO_Marital_Status,
       new List<SelectListItem> {
  new SelectListItem { Value = "" , Text = "- Select Marital -" },
  new SelectListItem { Value = "Single" , Text = "Single" },
  new SelectListItem { Value = "Married" , Text = "Married" },
   new SelectListItem { Value = "Divorce" , Text = "Divorce" },
   new SelectListItem { Value = "Widow" , Text = "Widow" }
   },
       new { @class = "form-control", @id = "CO_MartialStatus" })


        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Correspondence Address</label>
            @Html.TextBoxFor(model => model.CO_PresentAddress, new
       {
           @class = "form-control",
           @placeholder = "Present Address",
           @name = "PresentAddress",
           @required = "true",
           @id = "CO_PresentAddress",
           @autocomplete = "off",
           @onchange = "SetValues_CO();"

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Correspondence Pincode</label>
            @Html.TextBoxFor(model => model.CO_PresentPinCode, new
       {
           @class = "form-control",
           @placeholder = "Present Pincode",
           @name = "PresentPincode",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_PresentPincode",
           @onkeypress = "return isNumber(this.value);",
           @onchange = "GetStateCity_PIN(this.value,Co_State,CO_City,this.Id);",
           @maxlength = "6",

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Correspondence State</label>


            @Html.TextBoxFor(model => model.CO_PresentStateId, new
       {
           @class = "form-control",
           @placeholder = "- Select State -",
           @name = "- Select State -",
           @required = "true",
           @type = "text",
           @id = "Co_State",
           @autocomplete = "off",
           @readonly = "true"

       })
            @Html.ValidationMessageFor(model => model.CO_PresentStateId, "", new { @class = "text-danger" })


        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Correspondence City</label>
            @Html.TextBoxFor(model => model.CO_PresentCityId, new
       {
           @class = "form-control",
           @placeholder = "- Select City -",
           @name = "- Select City -",
           @required = "true",
           @type = "text",
           @id = "CO_City",
           @autocomplete = "off",
           @onchange = "SetValues3_CO();",
           @readonly = "true"

       })

            @*@Html.DropDownListFor(model => model.CO_PresentCityId, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.CO_PresentCityId, "", new { @class = "text-danger" })


        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Correspondence Village</label>
            @Html.TextBoxFor(model => model.CO_PresentVillage, new
       {
           @class = "form-control",
           @placeholder = "Present Village",
           @name = "Present Village",
           @required = "true",
           @id = "CO_PresentVillage",
           @autocomplete = "off"

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Correspondence District</label>
            @Html.TextBoxFor(model => model.CO_PresentDistrict, new
       {
           @class = "form-control",
           @placeholder = "Present District",
           @name = "Present District",
           @required = "true",
           @id = "CO_PresentDistrict",
           @autocomplete = "off"
       })
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" style="margin-bottom:10px; margin-top:10px;">
        <div class="col-md-12">
            @Html.CheckBoxFor(model => model.bCO_IsSameCurrentperadd, new
       {
           @id = "co_chlpercorr",
           @onchange = "Co_Applicantpermascorr();",
           @name = "co_chlpercorr",
           @value = "Yes"
       })
            <label class="required" for="co_chlpercorr"> Permanent Address As Same As Correspondence Address</label><br>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent Address</label>
            @Html.TextBoxFor(model => model.CO_PermanentAddress, new
       {
           @class = "form-control",
           @placeholder = "Permanent Address",
           @name = "PermanentAddress",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_PermanentAddress"

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent Pincode</label>
            @Html.TextBoxFor(model => model.CO_PermanentPincode, new
       {
           @class = "form-control",
           @placeholder = "Permanent Pincode",
           @name = "PermanentPincode",
           @required = "true",
           @id = "CO_PermanentPincode",
           @autocomplete = "off",
           @onchange = "GetStateCity_PIN(this.value,CO_permanentstate,CO_permanentcity,this.Id);",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "10",



       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent State</label>

            @Html.TextBoxFor(model => model.CO_PermanentStateId, new
       {
           @class = "form-control",
           @placeholder = "- Select State -",
           @name = "- Select State -",
           @required = "true",
           @type = "text",
           @autocomplete = "off",
           @id = "CO_permanentstate",
           @readonly = "true"
       })
            @Html.ValidationMessageFor(model => model.CO_PermanentStateId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent City</label>


            @Html.TextBoxFor(model => model.CO_PermanentStateId, new
       {
           @class = "form-control",
           @placeholder = "- Select City -",
           @name = "- Select City -",
           @required = "true",
           @type = "text",
           @id = "CO_permanentcity",
           @autocomplete = "off",
           @readonly = "true"
       })

            @*@Html.DropDownListFor(model => model.PermanentCityId, ViewBag.CityList as SelectList, new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.CO_PermanentCityId, "", new { @class = "text-danger" })


        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent Village</label>
            @Html.TextBoxFor(model => model.CO_PermanentVillage, new
       {
           @class = "form-control",
           @placeholder = "Permanent Village",
           @name = "Permanent Village",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_PermanentVillage"

       })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Permanent District</label>
            @Html.TextBoxFor(model => model.CO_PermanentDistrict, new
       {
           @class = "form-control",
           @placeholder = "Permanent District",
           @name = "Permanent District",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_PermanentDistrict"

       })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Mobile No</label>
            @Html.TextBoxFor(model => model.CO_Mobile_No, new
       {
           @class = "form-control",
           @placeholder = "CO Applicant Mobile No",
           @name = "CibilScore",
           @required = "true",
           @autocomplete = "off",
           @id = "CO_MObileNO",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "10"

       })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">Email Id</label>
            @Html.TextBoxFor(model => model.CO_Email_Id, new
       {
           @class = "form-control",
           @placeholder = "Email Id",
           @name = "CO_EmailId",
           @autocomplete = "off",
           @id = "CO_EmailId"

       })
        </div>


    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">OwnerShip</label>
            <select class="form-control" id="ddlCoOwnerShip">
                <option>Owned</option>
                <option>Rented</option>
            </select>

            @Html.HiddenFor(model => model.Co_OwnerShip, new { @class = "form-control", @id = "hdnCoOwneShip" })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">
                Cibil Score
            </label>
            @Html.TextBoxFor(model => model.CO_CIBIL, new
       {
           @class = "form-control",
           @placeholder = "Cibil Score",
           @name = "CO_CibilScore",
           @required = "true",
           @id = "CO_CibilScore",
           @autocomplete = "off",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "4"

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Land Mark</label>
            @Html.TextBoxFor(model => model.Co_LandMark, new
    {
        @class = "form-control",
        @placeholder = "Land Mark",
        @name = "COLandmark",
        @required = "true",
        @id = "txtCoLandMark",
        @autocomplete = "off",
        @maxlength = "100"

    })
        </div>

        <div class="col-md-6">
            <label class="required" for="exampleInputEmail1">CoApplicant Image</label>
            <input type="file" id="cofileuploadapplicantimg" accept="image/x-png,image/jpeg" />
            @if (Model.CO_image.Trim() != "")
            {
                var img = Sunnet_NBFC.App_Code.ClsCommon.PreviewImage(Model.CO_image.Trim());
                <img src=@img alt="" height=100 width=200 />
            }
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <label class="required" for="exampleInputEmail1">CoApplicant Electric Bill</label>
            <input type="file" id="cofileuploadElectricBill" accept="image/x-png,image/jpeg" />
            @if (Model.CO_ElectricBill.Trim() != "")
            {
                var img = Sunnet_NBFC.App_Code.ClsCommon.PreviewImage(Model.CO_ElectricBill.Trim());
                <img src=@img alt="" height=100 width=200 />
            }
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="card-footer" style="margin-top:10px;">
        <button type="submit" class="btn btn-primary" id="btnAdd" onclick="UpdateCoBorrower();" value="Update"> Update </button>

    </div>

</div>

<!-- Modal -->
