@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<div class="form-group" style="margin-top:20px;">
    <div class="col-md-12">
        <h5> Vechical Loan Details</h5>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-3">
            <label for="exampleInputEmail1">Vehicle Number</label>
            @Html.TextBoxFor(model => model.ViechleNo, new
            {
                @class = "form-control",
                @placeholder = "Vehicle No",
                @name = "MName",
                @required = "true",
                @id = "ViechleNo",
                @maxlength = "15"

            })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Model</label>
            @Html.TextBoxFor(model => model.ViechleModel, new
       {
           @class = "form-control",
           @placeholder = "Vehicle Model",
           @name = "MName",
           @required = "true",
           @id = "ViechleModel",
           @maxlength = "80",

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Color</label>
            @Html.TextBoxFor(model => model.ViechleColor, new
            {
                @class = "form-control",
                @placeholder = "Vehicle Color",
                @name = "FName",
                @required = "true",
                @maxlength = "50",
                @id = "ViechleColor",
                @autocomplete = "off"
            })


        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Vehicle Make</label>
            @Html.TextBoxFor(model => model.ViechleCompany, new
            {
                @class = "form-control",
                @placeholder = "Vechile Company",
                @name = "MName",
                @required = "true",
                @id = "ViechleCompany"

            })
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Manufacturing Year</label>
            @Html.TextBoxFor(model => model.MFGYear, new
       {
           @class = "form-control",
           @placeholder = "Registration Year",
           @name = "MName",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "4",
           @required = "true",
           @id = "MFGYear"

       })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Vehicle Registration Year</label>
            @Html.TextBoxFor(model => model.ViechleRegYear, new
       {
           @class = "form-control",
           @placeholder = "Vehicle Reg Year",
           @name = "FName",
           @required = "true",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "4",
           @id = "ViechleRegYear",
           @autocomplete = "off"
       })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">Registration Date as per RC</label>
            @Html.TextBoxFor(model => model.RegistrationDate, new
       {
           @class = "form-control datestyle",
           @placeholder = "Vehicle Reg Year",
           @name = "FName",
           @required = "true",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "10",
           @id = "txtRegDate",
           @autocomplete = "off"
       })

        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Name as per RC</label>
            @Html.TextBoxFor(model => model.ViechleOwner, new
            {
                @class = "form-control",
                @placeholder = "RC Name Owner",
                @name = "MName",
                @required = "true",
                @id = "ViechleOwner"

            })
        </div>


    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Fuel Type</label>
            <select class="form-control" id="ddlFualType">
                <option>Petrol</option>
                <option>Diesel</option>
                <option>CNG Factory fitted</option>
                <option>CNG Outside fitted</option>
                <option>Electric</option>
            </select>
            @Html.HiddenFor(model => model.FuelType, new { @class = "form-control", @id = "hfFualType" })
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Owner</label>
            <select class="form-control" id="ddlOwner">
                @*<option>0</option>*@
                <option>1</option>
                @*<option>2</option>
                    <option>3</option>
                    <option>4</option>*@
            </select>
        </div>

        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">Expected Market Value</label>
            @Html.TextBoxFor(model => model.EstValueViechle, new
       {
           @class = "form-control",
           @placeholder = "Est Value Viechle",
           @name = "MName",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "10",
           @required = "true",
           @id = "EstValueViechle"

       })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Insurance Status</label>
            <select class="form-control" id="ddlInsuranceStatus">
                <option>Lapesd</option>
                <option>Valid</option>
            </select>
            @Html.HiddenFor(model => model.InsuranceStatus, new { @class = "form-control", @id = "hfInsuranceStatus" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="exampleInputEmail1">Insurance Type</label>
            <select class="form-control" id="ddlInsuranceType">
                <option>Comprehensive</option>
                <option>Third Party</option>
            </select>
            @Html.HiddenFor(model => model.InsuranceType, new { @class = "form-control", @id = "hfInsuranceType" })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">Insurer Name</label>
            @Html.TextBoxFor(model => model.Insurer, new
     {
         @class = "form-control",
         @placeholder = "Insurer Name",
         @name = "FName",
         @maxlength = "50",
         @id = "txtInsuar",
         @autocomplete = "off"
     })

        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">Policy Number</label>
            @Html.TextBoxFor(model => model.PolicyNo, new
     {
         @class = "form-control",
         @placeholder = "Policy Number",
         @name = "FName",
         @maxlength = "80",
         @id = "txtPolicyNo",
         @autocomplete = "off"
     })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Insurance Start Date</label>
            @Html.TextBoxFor(model => model.ValidityDate, new
       {
           @class = "form-control datestyle",
           @placeholder = "Policy Number",
           @name = "FName",
           @maxlength = "80",
           @id = "txtValidityDate",
           @autocomplete = "off",
           @onchange = "return FindEndInsdate();"
       })
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="exampleInputEmail1">Insurance End Date</label>
            @Html.TextBoxFor(model => model.InsEndValidityDate, new
       {
           @class = "form-control datestyle",
           @placeholder = "Insurance End Date",
           @name = "FName",
           @maxlength = "80",
           @id = "txtEndValidityDate",
           @autocomplete = "off",
           @disabled = "true"
       })

        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Ex ShowRoom Price</label>
            @Html.TextBoxFor(model => model.ExShowRoomPrice, new
       {
           @class = "form-control",
           @placeholder = "Insurance End Date",
           @name = "FName",
           @maxlength = "80",
           @id = "txtExShowRoomPrice",
           @autocomplete = "off",
           @onkeypress = "return isNumber(this.value);"
       })
        </div>
        <div class="col-md-3">
            <label for="exampleInputEmail1">On Road Price</label>
            @Html.TextBoxFor(model => model.OnRoadPrice, new
    {
        @class = "form-control",
        @placeholder = "Insurance End Date",
        @name = "FName",
        @maxlength = "80",
        @id = "txtOnRoadPrice",
        @autocomplete = "off",
        @onkeypress = "return isNumber(this.value);"
    })
        </div>
        <div class="col-md-3">
            <label class="required" for="exampleInputEmail1">FO Recommended Amount</label>
            @Html.TextBoxFor(model => model.FORecomedAmt, new
       {
           @class = "form-control",
           @placeholder = "FORecomed Amt",
           @name = "FName",
           @onkeypress = "return isNumber(this.value);",
           @maxlength = "10",
           @id = "txtFORecomedAmtcomedAmt",
           @autocomplete = "off"
       })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="exampleInputEmail1">Dealer</label>
            @Html.DropDownListFor(model => model.DSAId, ViewBag.Dealer as SelectList, "- Select Dealer- ",
                                   new { @class = "form-control", @id = "ddlDealer" })
            @Html.HiddenFor(model => model.DSAId, new { @id = "hfDealer" })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">E-Rikshaw Maker</label>
            @Html.TextBoxFor(model => model.ERikshawMaker, new
     {
         @class = "form-control",
         @placeholder = "E-Rikshaw Maker",
         @name = "FName",
         @required = "true",
         @maxlength = "100",
         @id = "txtERikshawMaker",
         @autocomplete = "off"
     })
        </div>

        <div class="col-md-3">
            <label for="exampleInputEmail1">Performa Invoice</label>
            @Html.TextBoxFor(model => model.PerformaInvoice, new
   {
       @class = "form-control",
       @placeholder = "Performa Invoice",
       @name = "FName",
       @required = "true",
       @maxlength = "100",
       @id = "txtPerformaInvoice",
       @autocomplete = "off"
   })
        </div>
    </div>


</div>




