@model Sunnet_NBFC.Models.clsLeadGenerationMaster
@{ ViewBag.Title = "Lead Generation";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lead Generation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h5> Product Details</h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="required" for="exampleInputEmail1">Lead No</label>
                                    @Html.TextBoxFor(model => model.LeadNo, new { @class = "form-control", @disabled = "true",@id="txtLeadNo" })

                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInputEmail1">Main Product</label>
                                    @Html.TextBoxFor(model => model.MainProductName, new { @class = "form-control", @id="txtMainProdName",@disabled="true" })
                                    @Html.HiddenFor(model => model.MainProductId, new { @class = "form-control", @id = "hfMainProdId" })
                                </div>

                                <div class="col-md-4">
                                    <label class="required" for="exampleInputEmail1">Sub Product</label>
                                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @disabled ="true",@id="txtProdName" })
                                    @Html.HiddenFor(model => model.ProductId, new { @class = "form-control", @id = "hfProdId" })

                                    @Html.HiddenFor(model => model.LeadId, new { @class = "form-control", @id = "hdnLeadId" })
                                    @Html.HiddenFor(model => model.CustTypeRequried, new { @class = "form-control", @id = "hdn_type" })
                                    <input type="hidden" value="@ViewBag.CompanyId" id="hdnCompanyId" />
                                    <input type="hidden" value="@ViewBag.PostalApi" id="hdn_postalAPI" />

                                </div>


                            </div>
                            <div class="row" id="divPersonal">
                                <div class="col-md-6">
                                    <label class="required" for="exampleInputEmail1">Branch</label>
                                    @Html.TextBoxFor(model => model.PLBranchName, new { @class = "form-control", @disabled = "true", @id = "txtBranch" })

                                    @*@Html.DropDownListFor(model => model.PLLoanBranch, ViewBag.BranchList as SelectList, "- Select Branch- ",
                                   new { @class = "form-control", @id = "ddlBranch" })
                                    @Html.HiddenFor(model => model.PLLoanBranch, new { @class = "form-control", @id = "hdnPLBranchId" })*@

                                </div>

                                <div class="col-md-6">
                                    <label class="required" for="exampleInputEmail1">Center</label>
                                    @Html.TextBoxFor(model => model.CenterName, new { @class = "form-control", @disabled = "true", @id = "txtCenter" })

                                    @*@Html.DropDownListFor(model => model.CenterId,
                                       new SelectList(Enumerable.Empty<SelectListItem>(), "CenterId", "CenterName"),
                                       "Select Center", new { @class = "form-control", @id = "ddlCenter" })

                                    @Html.HiddenFor(model => model.CenterId, new { @class = "form-control", @id = "hdnCenterId" })*@


                                </div>

                            </div>

                            <div>
                                @{
                                    Html.RenderPartial("_AddCustomerDetails");
                                }
                            </div>


                            <div style="display:none" id="co_applicant_div">
                                @{
                                    Html.RenderPartial("_AddCo_Applicant_Details");
                                }
                            </div>
                            <div style="display:none" class="container-fluid" id="co_guranter_div">
                                @{
                                    Html.RenderPartial("_AddGuranterDetails");
                                }
                            </div>

                            <div style="display:none" class="container-fluid" id="vechical_div">
                                @{
                                    Html.RenderPartial("_AddVechicalLoanDetails");
                                }
                            </div>

                            <div>
                                @{
                                    Html.RenderPartial("_AddAdditionalDetails");
                                }
                            </div>

                            <div style="display:none" class="container-fluid" id="business_div">
                                @{
                                    Html.RenderPartial("_AddBusinessLoanDetails");
                                }
                            </div>


                            <div style="display:none" class="container-fluid" id="personal_div">
                                @{
                                    Html.RenderPartial("_AddPersloanLoanDetails");
                                }
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="exampleInputEmail1">Remarks</label>
                                    @Html.TextAreaFor(model => model.UserRemarks, new { @id= "txtRemarks",@class= "form-control",@maxlength="200" })
                                   
                                </div>
                            </div>

                            <div class="card-footer" style="margin-top:10px;">
                                <button type="submit" class="btn btn-primary" onclick="UpdateDetails();"> Submit </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</section>

<!-- Modal -->
<script src="~/Scripts/CustomJS/LeadGenUpdate.js"></script>
<script src="~/Scripts/CustomJS/CommonFunction.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            scrollX: true,
        });
    });
</script>

