@model Sunnet_NBFC.Models.clsSubMenu
@{
	ViewBag.Title = "Add SubMenu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Add SubMenu</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<h5>
						@Html.ActionLink("Back to List", "SubMenuView")
					</h5>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
@using (Html.BeginForm("PostSubMenu", "SubMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<div class="row">

									<div class="col-md-6">
										<label for="exampleInputEmail1">Menu Name</label>
										@Html.DropDownListFor(model => model.MenuId, ViewBag.ddlm as SelectList, new { @class = "form-control"})
										@Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })


									</div>
									<div class="col-md-6">
										<label for="exampleInputEmail1">Title</label>
										@Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter Title", @name = "Title Name", @maxlength = "100", @requried = "true" })
										@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="exampleInputEmail1">Controller</label>
										@Html.TextBoxFor(model => model.Controller, new { @class = "form-control", @placeholder = "Enter Title", @name = "Controller Name", @maxlength = "100", @requried = "true" })
										@Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
									</div>
									<div class="col-md-6">
										<label for="exampleInputEmail1">Action</label>
										@Html.TextBoxFor(model => model.Action, new { @class = "form-control", @placeholder = "Enter Action", @name = "Action", @maxlength = "100", @requried = "true" })
										@Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="exampleInputEmail1">Active</label>
									@{
										var domainsList = new SelectList(new[]
										{
											new SelectListItem { Text = "Yes", Value = "1", Selected = true },
											new SelectListItem { Text = "No", Value = "0"},
											}, "Value", "Text");
									}
									@Html.DropDownListFor(model => model.IsActive, domainsList as SelectList, new { @class = "form-control" })
								</div>
								<div class="col-md-6">

								</div>
							</div>
						</div>

						<div class="card-footer">
							<button type="submit" class="btn btn-primary">Submit</button>

						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->
		</div>
		</div>

	</section>

}
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>

@if (ViewBag.Message != null)
{
	<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
	</script>
}

@*<script type="text/javascript">

		$(function () {

			$("#txtCgst,#txtSgst").keyup(function (e) {

				var val1 =$("#txtCgst").val(),
					val2 =$("#txtSgst").val(),
					result = "";

				if (val1.length > 0 && val2.length>0) {
					result = parseInt(val1)+parseInt(val2);
				}
				else if(val1.length>0 && val2.length==0){
					result=val1;
				}
				else if (val1.length == 0 && val2.length>0) {
					result = val2;
				}

				$("#txtIgst").val(result);
				$("#txtIgst").attr('readonly', true);
			});

		});


	</script>*@


