@model Sunnet_NBFC.Models.clsRoleMaster


@*@model Sunnet_NBFC.Models.clsSubMenu*@

@{
    ViewBag.Title = "RoleMaster";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Role Master Employee Wise</h1>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@Html.AntiForgeryToken()

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("RoleMaster_EmpWise", "UserRole", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group" id="divEmployee">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => model.ReqType)
                                        @Html.HiddenFor(model => model.CompanyId)
                                        @Html.HiddenFor(model => model.IsDelete)

                                        <label>Employee</label>
                                        @Html.DropDownListFor(model => model.EmpId, ViewBag.EmpList as SelectList, "Select", new { @class = "form-control", @id = "EmpID" })

                                    </div>
                                    <div class="col-md-6">
                                        <br />
                                        <button type="submit" class="btn btn-info btn-secondary">Set Rights</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="card-body">

                            <table class="table table-striped table-bordered" id="example45">
                                <thead>
                                    <tr>
                                        <th class="text-center info">S.No.</th>
                                        <th class="text-center info">Menu Name</th>
                                        <th class="text-center info">Sub Menu Name</th>

                                        <th class="text-center info"><input type="checkbox" name="checkAll" class="checkbox" id="selectall"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int rowNo = 0; }
                                    @if (Model.clsSubMenulst != null)
                                    {
                                        foreach (var item in Model.clsSubMenulst)
                                        {

                                            <tr>
                                                <td class="text-center info"> @(rowNo += 1)</td>
                                                <td class="text-center info">
                                                    @item.MenuName
                                                </td>
                                                <td class="text-center info">
                                                    @item.Title
                                                </td>

                                                <td class="text-center info">
                                                    @*@item.IsSelected.ToString()*@
                                                    <input type="checkbox" id=@rowNo name="res" class="checkbox" checked="@item.IsSelected" />

                                                </td>
                                                <td hidden>
                                                    @item.MenuId
                                                </td>
                                                <td hidden>
                                                    @item.SubMenuId
                                                </td>
                                            </tr>

                                        }


                                    }


                                </tbody>

                            </table>



                        </div>

                        <div class="card-footer">

                            <input type="submit" onclick="Valid_Employee();" value="Save" class="btn btn-primary" />

                            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-danger btn-large" })
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

</section>



<script src="~/Scripts/CustomJS/RoleMaster.js"></script>
