
@{
    ViewBag.Title = "StatusView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Status View</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Status View</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <!-- /.card -->
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Status Id</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.lst != null)
                                {

                                    var m = ViewBag.lst;
                                    foreach (var item in m)
                                    {
                                        <tr>
                                            <td>@item.StatusID</td>
                                            <td>@item.Status</td>
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a href="@Url.Action("EditStatus","Status",new{Id=item.StatusID, Status= item.Status, Desc= item.StatusDesc})"
                                                       data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit"><u>Edit</u></a>



                                                    <a href="@Url.Action("Statusdelete","Status",new{Id=item.StatusID})"
                                                       data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete"
                                                       onclick="return Submit();" style="margin-left:10px;"><u>Delete</u></a>


                                                </div>

                                            </td>
                                        </tr>
}
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Status Id</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="card-footer">
                            @Html.ActionLink("Export to Excel", "ExportToExcel", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script type="text/javascript">
    function Submit() {
        if (confirm("Are you sure you want to delete ?")) {
            return true;
        } else {
            return false;
        }
    }
</script>