@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<div class="modal-dialog" style="max-width: 1000px;">

    <style>
        .table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

            .table td, th {
            }
    </style>

    <!-- Modal content-->
    <div class="modal-content" style="overflow-y: scroll; height:550px; width: 1050px;">
        <div class="modal-header">
            <h4 class="modal-title">Customer Details</h4>

        </div>
        <div class="modal-body">
            <div class="panel-body">
                @Html.HiddenFor(Model => Model.LeadId, new { id = "Leadidd" })
                <table class="table table-striped table-bordered table-hover table-responsive" style="display:table;"
                       id="dataTables-example-Details">
                    <thead>
                        <tr>
                            <th>Lead NO</th>
                            <td>@Model.LeadNo</td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Main Product</th>
                            <td>@Model.MainProductName</td>
                            <th>Sub Product</th>
                            <td>@Model.ProductName</td>
                        </tr>
                        @if (Model.MainProductName.ToUpper() == "INDIVIDUAL LOAN")
                        {
                        <tr>
                            <th>Center Name</th>
                            <td>@Model.CenterName</td>
                            <th>Branch Name</th>
                            <td>@Model.PLBranchName</td>
                        </tr>
                        }
                        <tr>
                            <th colspan="4">
                                Customer Details
                            </th>
                        </tr>
                        <tr>
                            <th>CIF ID</th>
                            <td>@Model.CIFID</td>
                            <td>Aadhar No</td>
                            <th>@Model.AadharNo</th>
                        </tr>
                        <tr>
                            <th>PAN No</th>
                            <th>@Model.PanNo</th>
                            <th>Customer Name</th>
                            <td>@Model.Prefix @Model.FirstName  @Model.MiddleName  @Model.LastName</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>@Model.Gender</td>
                            <th>Date Of Birth</th>
                            <td>@Model.DateofBirth</td>
                        </tr>
                        <tr>
                            <th>Martial Status</th>
                            <td>@Model.MartialStatus</td>
                            <th>Spouse Name</th>
                            <td>@Model.SpouseName</td>
                        </tr>
                        <tr>

                            <th>Father Name</th>
                            <td>@Model.FatherName</td>
                            <th>Mother Name</th>
                            <td>@Model.MotherName</td>
                        </tr>

                        <tr>
                            <th>Correspondance Address</th>
                            <td>@Model.PresentAddress</td>
                            <th>Correspondance City</th>
                            <td>@Model.PresentCityId</td>
                        </tr>

                        <tr>
                            <th>Correspondance Village</th>
                            <td>@Model.PresentVillage</td>
                            <th>Correspondance District</th>
                            <td>@Model.PresentDistrict</td>

                        </tr>
                        <tr>
                            <th>Correspondance State</th>
                            <td>@Model.PresentStateId</td>
                            <th>Correspondance Pincode</th>
                            <td>@Model.PresentPincode</td>
                        </tr>
                        <tr>
                            <th>Permanent Address</th>
                            <td>@Model.PermanentAddress</td>
                            <th>Permanent City</th>
                            <td>@Model.PermanentCityId</td>

                        </tr>
                        <tr>
                            <th>Permanent Village</th>
                            <td>@Model.PermanentVillage</td>
                            <th>Permanent District</th>
                            <td>@Model.PermanentDistrict</td>

                        </tr>
                        <tr>
                            <th>Permanent State</th>
                            <td>@Model.PermanentStateId</td>
                            <th>Permanent Pincode</th>
                            <td>@Model.PermanentPincode</td>
                        </tr>

                        <tr>
                            <th>Cibil Score</th>
                            <td>@Model.CibilScore</td>
                            <th>Mobile Number</th>
                            <td>@Model.MobileNo1</td>
                        </tr>
                        <tr>
                            <th>Father Mobile No</th>
                            <td>@Model.FatherMobileNo</td>
                            <th>Mother Mobile No</th>
                            <td>@Model.MotherMobileNo</td>
                        </tr>
                        <tr>
                            <th>Spouse Mobile No</th>
                            <td>@Model.SpouseMobileNo</td>
                            <th>Email Id</th>
                            <td>@Model.EmailId</td>
                        </tr>

                        <tr>
                            <th>OwnerShip</th>
                            <td>@Model.OwnerShip</td>
                            <th>Land Mark</th>
                            <td>@Model.CustLandMark</td>
                        </tr>
                        <tr>
                            <th>Profile Image</th>
                            @if (Model.CustImage.Trim() != "")
                            {
                                var img = Sunnet_NBFC.App_Code.ClsCommon.PreviewImage(Model.CustImage.Trim());
                            <td> <img src=@img alt="" height=100 width=200 /></td>
                            }
                            <th>Electric Bill </th>
                            @if (Model.ElectricBill.Trim() != "")
                            {
                                var img = Sunnet_NBFC.App_Code.ClsCommon.PreviewImage(Model.ElectricBill.Trim());
                            <td> <img src=@img alt="" height=100 width=200 /></td>
                            }

                        </tr>

                        @if (ViewBag.CUSTYPEREUIRED == "b" || ViewBag.CUSTYPEREUIRED == "c")
                        {

                        <tr>
                            <th colspan="4">Co Applicant Details:</th>
                        </tr>
                        <tr>
                            <th>CIF Id</th>
                            <td>@Model.Co_CIF</td>
                            <th>Aadhar No</th>
                            <td>@Model.CO_Adhaar</td>
                        </tr>
                        <tr>
                            <th>Pan No</th>
                            <td>@Model.CO_PAN</td>
                            <th>CO Applicant Name</th>
                            <td>@Model.CO_Prefix @Model.CO_FirstName  @Model.CO_MiddleName  @Model.CO_LastName</td>
                        </tr>
                        <tr>
                            <th>Father's Name</th>
                            <td>@Model.CO_FatherName</td>
                            <th>Moter's' Name</th>
                            <td>@Model.CO_MotherName</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>@Model.CO_Gender</td>
                            <th>Date Of Birth</th>
                            <td>@Model.CO_DOB</td>
                        </tr>
                        <tr>

                            <th>Marital Status</th>
                            <td>@Model.CO_Marital_Status</td>
                            <th>Corrospondance Address</th>
                            <td>@Model.CO_PresentAddress</td>
                        </tr>
                        <tr>
                            <th>Corrospondance Pincode</th>
                            <td>@Model.CO_PresentPinCode</td>
                            <th>Corrospondance State</th>
                            <td>@Model.CO_PresentStateId</td>
                        </tr>
                        <tr>

                            <th>Corrospondance City</th>
                            <td>@Model.CO_PresentCityId</td>

                            <th>Corrospondance Village</th>
                            <td>@Model.CO_PresentVillage</td>
                        </tr>

                        <tr>

                            <th>Corrospondance District</th>
                            <td>@Model.CO_PresentDistrict</td>

                            <th>Permanent Address</th>
                            <td>@Model.CO_PermanentAddress</td>
                        </tr>
                        <tr>
                            <th>Permanent Pincode</th>
                            <td>@Model.CO_PermanentPincode</td>
                            <th>Permanent State</th>
                            <td>@Model.CO_PermanentStateId</td>
                        </tr>

                        <tr>

                            <th>Permanent City</th>
                            <td>@Model.CO_PermanentStateId</td>

                            <th>Permanent Village</th>
                            <td>@Model.CO_PermanentVillage</td>
                        </tr>

                        <tr>

                            <th>Permanent District</th>
                            <td>@Model.CO_PermanentDistrict</td>

                            <th>Mobile No</th>
                            <td>@Model.CO_Mobile_No</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.CO_Email_Id</td>
                            <th>OwnerShip</th>
                            <td>@Model.Co_OwnerShip</td>
                        </tr>
                        <tr>
                            <th>Cibil Score</th>
                            <td>@Model.CO_CIBIL</td>
                            <th>Land Mark</th>
                            <td>@Model.Co_LandMark</td>
                        </tr>

                        <tr>
                            <th>Co-Applicant Image</th>
                            @if (Model.CO_image.Trim() != "")
                                {
                                    var img = Sunnet_NBFC.App_Code.ClsCommon.PreviewImage(Model.CO_image.Trim());
                            <td> <img src=@img alt="" height=100 width=200 /></td>
                                }
                            <th>Co-Applicant Electric Bill</th>
                            @if (Model.CO_ElectricBill.Trim() != "")
                                {
                                    var img = Sunnet_NBFC.App_Code.ClsCommon.PreviewImage(Model.CO_ElectricBill.Trim());
                            <td> <img src=@img alt="" height=100 width=200 /></td>
                                }
                        </tr>
                        <tr>
                            <th colspan="4">Additional Details</th>
                        </tr>
                        <tr>

                            <th>Requested Loan Amount</th>
                            <td>@Model.ReuestedLoanAmount</td>
                            <th>Reuested Loan Tenure(Months)</th>
                            <td>@Model.ReuestedLoanTenure</td>
                        </tr>
                        <tr>
                            <th>Monthly Self Income</th>
                            <td>@Model.EstMonthIncome</td>
                            <th>Monthly Family Income</th>
                            <td>@Model.EstFamilyIncome</td>
                        </tr>
                        <tr>
                            <th>Estimated Month Expense</th>
                            <td>@Model.EstMonthExpense</td>
                            <th>Current Month Obligation</th>
                            <td>@Model.CurMonthObligation</td>
                        </tr>
                        <tr>
                            <th>Purpose of Loan</th>
                            <td>@Model.LoanPurpose</td>

                        </tr>
                            if (Model.MainProductName.ToUpper() != "INDIVIDUAL LOAN")
                            {
                        <tr>
                            <th>Refernce Name-1</th>
                            <td>@Model.RefernceName</td>

                            <th>Refence Relation-1</th>
                            <td>@Model.RefenceRelation</td>
                        </tr>

                        <tr>
                            <th>Refence MobileNo-1</th>
                            <td>@Model.RefenceMobileNo</td>
                            <th>Refernce Name-2</th>
                            <td>@Model.RefernceName1</td>
                        </tr>
                        <tr>
                            <th>Refence Relation-2</th>
                            <td>@Model.RefenceRelation1</td>

                            <th>Refence MobileNo-2</th>
                            <td>@Model.RefenceMobileNo1</td>
                        </tr>
                            }

                        }

                        @if (Model.MainProductName.ToUpper() == "INDIVIDUAL LOAN")
                        {
                        <tr>
                            <th>Repyament Type</th>
                            <td>@Model.RepaymentType</td>

                        </tr>

                        }
                        else if (Model.MainProductName.ToUpper() == "VEHICLE LOAN" || Model.MainProductName.ToUpper() == "TWO WHEELER LOAN" || Model.MainProductName.ToUpper() == "COMMERCIAL VEHICLE")
                        {
                        <tr>
                            <th colspan="4">
                                Vechical Details
                            </th>
                        </tr>

                        <tr>
                            <th>Viechle Number</th>
                            <td>@Model.ViechleNo</td>
                            <th>Viechle Model</th>
                            <td>@Model.ViechleModel</td>

                        </tr>
                        <tr>
                            <th>Viechle Color</th>
                            <td>@Model.ViechleColor</td>

                            <th>Viechle Company</th>
                            <td>@Model.ViechleCompany</td>
                        </tr>
                        <tr>
                            <th>Manufacturing Year</th>
                            <td>@Model.MFGYear</td>
                            <th>Viechle Registration Year</th>
                            <td>@Model.ViechleRegYear</td>

                        </tr>

                        <tr>
                            <th>Registration Date as per RC</th>
                            <td>@Model.RegistrationDate</td>

                            <th>Name as per RC</th>
                            <td>@Model.ViechleOwner</td>
                        </tr>
                        <tr>
                            <th>Fual Type</th>
                            <td>@Model.FuelType</td>
                            <th>Owner</th>
                            <td>@Model.Owner</td>

                        </tr>
                        <tr>
                            <th>Expected Market Value</th>
                            <td>@Model.EstValueViechle</td>

                            <th>Insurance Status</th>
                            <td>@Model.InsuranceStatus</td>


                        </tr>
                        <tr>
                            <th>Insurance Type</th>
                            <td>@Model.InsuranceType</td>

                            <th>Insurer Name</th>
                            <td>@Model.Insurer</td>
                        </tr>
                        <tr>
                            <th>Policy No</th>
                            <td>@Model.PolicyNo</td>
                            <th>Validity Date</th>
                            <td>@Model.ValidityDate</td>

                        </tr>
                        <tr>

                            <th>Ex ShowRoom Price</th>
                            <td>@Model.ExShowRoomPrice</td>
                            <th>On Road Price</th>
                            <td>@Model.OnRoadPrice</td>

                        </tr>

                        <tr>

                            <th>FORecomened Amount</th>
                            <td>@Model.FORecomedAmt</td>
                            <th>No of Dependent</th>
                            <td>
                                @Model.NoofDependent
                            </td>
                        </tr>
                        <tr>
                            <th>Dealer</th>
                            <td>@Model.DealerName</td>
                            <th>E-Rikshaw Maker</th>
                            <td>@Model.ERikshawMaker</td>

                        </tr>
                        
                        <tr>
                            <th>Performa Invoice</th>
                            <td>@Model.PerformaInvoice</td>
 
                        </tr>


                        }
                        else if (Model.MainProductName.ToString().ToUpper() == "BUSSINESS LOAN")
                        {
                        <tr>
                            <th>No of Dependent</th>
                            <td>@Model.NoofDependent</td>
                            <th>Colletral Security Type</th>
                            <td>@Model.ColletralSecurityType</td>
                        </tr>

                        <tr>
                            <th>Loan Recommend by FO</th>
                            <td>@Model.FORecomedAmt</td>
                            <th>Estd Market Value</th>
                            <td>@Model.EstValueofscurity</td>
                        </tr>

                        <tr>
                            <th>Property Type</th>
                            <td>@Model.PropertyType</td>
                            <th>Property Area</th>
                            <td>@Model.Propertyarea</td>
                        </tr>
                        <tr>
                            <th>Property Address</th>
                            <td>@Model.PropertyAddress</td>

                        </tr>
                        <tr>
                            <th>Purpose of Loan</th>
                            <td>@Model.LoanPurpose</td>
                        </tr>
                        }
                        <tr>
                            <th>Remarks</th>
                            <td colspan="3">@Model.UserRemarks</td>
                        </tr>
                        <tr>
                            <th>
                                Send Back Remarks
                            </th>
                            <td colspan="3">@Model.FORemarks</td>


                    </thead>
                </table>



                @if (ViewBag.CUSTYPEREUIRED == "b" || ViewBag.CUSTYPEREUIRED == "g")
                {

                <h4 class="modal-title">Gurantor Details</h4>

                <table class="table table-striped table-bordered" id="example10">
                    <thead>
                        <tr>
                            <th>CIF</th>
                            <th>Pan No</th>
                            <th>Aadhar No</th>
                            <th>Name</th>
                            <th>Father's Name</th>
                            <th>Spouse Name</th>
                            <th>Gender</th>
                            <th>Dob</th>
                            <th>MartialStatus</th>
                            <th>Coorespodance Address</th>
                            <th>Coorespodance City</th>
                            <th>Coorespodance District</th>
                            <th>Coorespodance Village</th>
                            <th>Coorespodance State</th>
                            <th>Coorespodance Pincode</th>
                            <th>Permanent Address</th>
                            <th>Permanent City</th>
                            <th>Permanent District</th>
                            <th>Permanent Village</th>
                            <th>Permanent Pincode</th>
                            <th>Permanent State</th>
                            <th>Mobile No</th>
                            <th>Email No</th>

                            <th>Cibil Score</th>

                            <th>OwnerShip</th>
                            <th>Land Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.gurantorslist != null)
                            {
                                foreach (var gurantor in ViewBag.gurantorslist)
                                {
                        <tr>
                            <td>@gurantor.G_CIF</td>
                            <td>@gurantor.G_AadharNo</td>
                            <td>@gurantor.G_PanNo</td>
                            <td>@gurantor.G_Prefix @gurantor.G_FirstName @gurantor.G_MiddleName @gurantor.G_LastName</td>
                            <td>@gurantor.G_FatherName</td>
                            <td>@gurantor.G_SpouseName</td>
                            <td>@gurantor.G_Gender</td>
                            <td>@gurantor.G_DOB</td>
                            <td>@gurantor.G_Marital_Status</td>
                            <td>@gurantor.G_PresentAddress</td>
                            <td>@gurantor.G_PresentCityId</td>
                            <td>@gurantor.G_PresentDistrict</td>
                            <td>@gurantor.G_PresentVillage</td>
                            <td>@gurantor.G_PresentStateId</td>
                            <td>@gurantor.G_PresentPinCode</td>
                            <td>@gurantor.G_PermanentAddress</td>
                            <td>@gurantor.G_PermanentCityId</td>
                            <td>@gurantor.G_PermanentDistrict</td>
                            <td>@gurantor.G_PermanentVillage</td>
                            <td>@gurantor.G_PermanentPincode</td>
                            <td>@gurantor.G_PermanentStateId</td>
                            <td>@gurantor.G_Mobile_No</td>
                            <td>@gurantor.G_EmailId</td>

                            <td>@gurantor.G_CibilScore</td>
                            <td>@gurantor.G_OwnerShip</td>
                            <td>@gurantor.G_LandMark</td>
                        </tr>
                                }
                            }

                    </tbody>

                </table>



                }
            </div>

            <hr />

            @switch (ViewBag.Short_StageName)
            {
                case "DocCol":
                    if (ViewBag.MainProductName != "INDIVIDUAL LOAN")
                    {

                        { Html.RenderAction("LeadCallingView", "LeadCalling"); }
                    }
                    break;
                case "CreditApprove":
                    if (ViewBag.MainProductName != "INDIVIDUAL LOAN")
                    {

                        { Html.RenderAction("LeadCallingView", "LeadCalling"); }
                        { Html.RenderAction("LeadDocumentView", "LeadDocument"); }
                    }

                    break;

                case "DocSign":
                    if (ViewBag.MainProductName != "INDIVIDUAL LOAN")
                    {

                        { Html.RenderAction("LeadCallingView", "LeadCalling"); }
                        { Html.RenderAction("LeadDocumentView", "LeadDocument"); }
                    }
                    { Html.RenderAction("LeadCreditView", "LeadCredit"); }
                    break;

                case "FinalApprove":
                    if (ViewBag.MainProductName != "INDIVIDUAL LOAN")
                    {

                        { Html.RenderAction("LeadCallingView", "LeadCalling"); }
                        { Html.RenderAction("LeadDocumentView", "LeadDocument"); }
                    }

                    { Html.RenderAction("LeadCreditView", "LeadCredit"); }
                    { Html.RenderAction("LeadDocumentSigningView", "LeadDocumentSigning"); }
                    break;

                case "Disburse":
                    if (ViewBag.MainProductName != "INDIVIDUAL LOAN")
                    {

                        { Html.RenderAction("LeadCallingView", "LeadCalling"); }
                        { Html.RenderAction("LeadDocumentView", "LeadDocument"); }
                    }
                    { Html.RenderAction("LeadCreditView", "LeadCredit"); }
                    { Html.RenderAction("LeadDocumentSigningView", "LeadDocumentSigning"); }
                    { Html.RenderAction("LeadFinalApproveView", "LeadFinalApprove"); }
                    { Html.RenderAction("LeadDisbursementView", "LeadDisbursement"); }
                    break;
                default:
                    break;


            }



            @*<div class="panel-body">
                    <label class="col-sm-4 control-label">Approved Loan Amount<span style="color:red">*</span></label>
                    <div class="col-sm-4">
                        <input type="number" id="rmark" name="rmark" autocomplete="off" class="form-control " />
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>

                <div class="panel-body">
                    <label class="col-sm-4 control-label">Approved Loan Tenure<span style="color:red">*</span></label>
                    <div class="col-sm-4">
                        <input type="number" id="rmark" name="rmark" autocomplete="off" class="form-control " />
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>*@



            @if ((ViewBag.Status1 == "Pending" || ViewBag.Status1 == "Send Back") && ViewBag.Short_StageName == "LeadGen")
            {
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 control-label">Status<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control" id="VERIFICATION_TYPES" name="VERIFICATION_TYPES" autocomplete="off">
                            <option value="0">Select Action</option>
                            <option value="A">Approve</option>
                            @*<option value="S">Send Back</option>*@
                            <option value="R">Reject</option>

                        </select>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-md-4 control-label">Comment/Remarks<span style="color:red">*</span></label>
                    <div class="col-md-4">
                        <textarea id="rmark" name="rmark" autocomplete="off" class="form-control "></textarea>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6" style="margin-bottom:10%">
                        <button type="submit" class="btn btn-success" onclick="return Validation();">
                            Submit
                            &nbsp; &nbsp; <i class="fa fa-save">
                            </i>
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        @*<button class="btn btn-danger text-right" data-dismiss="modal" aria-hidden="true" onclick="reloadfun();">
                                Close
                                &nbsp; &nbsp; <i class="fa fa-close"> </i>
                            </button>*@
                    </div>
                </div>


            </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="reloadfun();">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function reloadfun() {
        debugger
        location.reload();
    }

    function Validation() {
        var rmarks = $('#rmark').val();
        if ($("#VERIFICATION_TYPES option:selected").val() == "0") {
            swal({
                title: "Error",
                text: "Please enter status type",
                icon: "error",
                button: true,

            })
                .then((willConfirm) => {
                    if (willConfirm) {

                    }
                });


        } else if (rmarks.length == "0") {
            swal({
                title: "Error",
                text: "Please enter remark",
                icon: "error",
                button: true,

            })
                .then((willConfirm) => {
                    if (willConfirm) {

                    }
                });

        } else {


            var filedata = new FormData();
            AllDataArray = {
                "ReqType": "UpdateStatus",
                "LeadId": $("#Leadidd").val(),
                "StageId": "0",
                "StageName": "",
                "IsActive": "0",
                "IsCurrent": "0",
                "ShortStage_Name": "LeadGen",
                "Dependancy": "0",
                "Sequence": "0",
                "Status": $("#VERIFICATION_TYPES option:selected").val(),
                "Remarks": $('#rmark').val(),


            }
            debugger
            filedata.append('AllDataArray', JSON.stringify(AllDataArray));


            $.ajax({
                url: "/Lead/UpdateLeadGeneration",
                type: "POST",
                contentType: false,
                processData: false,
                data: filedata,

                success: function (result) {
                    debugger

                    var message = JSON.parse(result)[0].ReturnMessage;

                    if (message == "Record updated succussfully") {
                        swal({
                            title: "Success",
                            text: message,
                            icon: "success",
                            button: true,

                        })
                            .then((willConfirm) => {
                                if (willConfirm) {
                                    window.location.pathname = 'Lead/LeadView';

                                }
                            });



                    } else {

                        swal({
                            title: "Error",
                            text: message,
                            icon: "error",
                            button: true,

                        })
                            .then((willConfirm) => {
                                if (willConfirm) {

                                }
                            });

                    }



                }



            })


        }
    }
</script>
