@model Sunnet_NBFC.Models.clsCity
@{
    ViewBag.Title = "CityView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>City View</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*<h4>
                            @Html.ActionLink("Create New", "AddCity")
                        </h4>*@

                    @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">City View</li>*@
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content" ng-app="CityApp">
    <div class="container-fluid" id="export">
        <div class="col-md-12">

            @using (Html.BeginForm("CityView", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-3">
                            <label>State</label>
                            @Html.DropDownListFor(model => model.Stateid, ViewBag.StateList as SelectList, "- Select State - ",
                                       new { @class = "form-control", @id = "ddlState" })
                        </div>
                        <div class="col-md-3">
                            <label>City</label>
                            @Html.TextBoxFor(model => model.CityName, new { @class = "form-control", @id = "txtCity" })

                        </div>
                        <div class="col-md-6">

                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <button type="submit" class="btn btn-secondary">Search</button>
                        @*<input type="submit" class="btn btn-primary" onclick="ShowData();" value="Search" />*@
                    </div>
                </div>
            }


        </div>

        <div class="row">
            <div class="col-12">

                <!-- /.card -->
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body" ng-controller="Citycontroller">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>State</th>
                                    <th>City</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.CityDetails)
                                {
                                    <tr>
                                        <td>@item.StateName</td>
                                        <td>@item.CityName</td>

                                        <td>
                                            @Html.ActionLink("Edit", "EditCity", new { cityid = @item.Cityid })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>HSN Code</th>

                                        <th></th>
                                    </tr>
                                </tfoot>*@
                        </table>
                        <div class="card-footer">
                            @using (Html.BeginForm("CityView", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @*<input type="button" value="Export to Excel" onclick="Export()" />*@
                                @Html.ActionLink("Export to Excel", "ExportToExcel", new { @class = "btn btn-primary" })

                                @*<input type="button" value="Export to Excel" id="btnexport" ng-click="exportData();" />*@
                            }
                            </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@*@if (ViewBag.Message != null)
    {
        <script type="text/javascript">

                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
    }*@


@if (ViewBag.Error != null && ViewBag.Error != "")
{
    <script type="text/javascript">

            window.onload = function () {
               // alert("@ViewBag.Error");
				swal("TDH", "@ViewBag.Error", "error");
            };
    </script>
}
@if (ViewBag.Success != null && ViewBag.Success != "")
{
    <script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Success");
				swal("TDH", "@ViewBag.Success", "Success");
            };
    </script>
}
<script>
    angular.module('CityApp', [])
        .controller('Citycontroller', ['$scope', '$http', function ($scope, $http) {
            $scope.exportData = function () {
                $http.get('/City/ExportCity', { responseType: 'arraybuffer' })
                    .then(function (response) {
                        var blob = new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                        saveAs(blob, 'export.xlsx');
                        //convertJsonToXls(response.data, "sheet1");
                    })
                    .catch(function (error) {
                        console.log('Error exporting to Excel:', error);
                    });
            };
        }]);
    function convertJsonToXls(jsonData, sheetName) {
        // Create a new workbook
        var workbook = XLSX.utils.book_new();

        // Convert the JSON data to a worksheet
        var worksheet = XLSX.utils.json_to_sheet(jsonData);

        // Add the worksheet to the workbook
        XLSX.utils.book_append_sheet(workbook, worksheet, sheetName);

        // Generate the XLS file
        var excelBuffer = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });

        // Save the file
        saveAsExcelFile(excelBuffer, 'data.xlsx');
    }

    function saveAsExcelFile(buffer, fileName) {
        // Convert the array buffer to a Blob object
        var data = new Blob([buffer], { type: 'application/octet-stream' });

        // Create a link element and set its attributes
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(data);
        link.download = fileName;

        // Programmatically click the link to trigger the download
        link.click();
    }
</script>

