@model Sunnet_NBFC.Models.clsClient

@{
    ViewBag.Title = "Add Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Client</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Add Client</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
@using (Html.BeginForm("AddClient", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Customer Name</label>
                                        @Html.TextBoxFor(model => model.ClientName, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Name",
                                       @name = "Customer Name",
                                       @required = "true",
                                       @maxlength = "50",
                                       @autocomplete = "off",
                                       @Id = "txtCustName"
                                   })
                                        @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Address</label>
                                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Address", @name = "Address", @maxlength = "100", @id = "txtAddress", @requried = "true" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">City</label>
                                        @Html.TextBoxFor(model => model.City, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "City",
                                       @name = "City",
                                       @Id = "txtCity",
                                       @required = "true"
                                   })


                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">State</label>
                                        @Html.TextBoxFor(model => model.State, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "STATE",
                                       @name = "State",
                                       @id = "txtState",
                                       @required = "true",
                                   })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Pin Code</label>
                                        @Html.TextBoxFor(model => model.PinCode, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "PinCode",
                                       @name = "PinCode",
                                       @required = "true",
                                       @id = "txtPinCode",
                                       @autocomplete = "off",
                                       @maxlength = "6"
                                   })

                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Email</label>
                                        @Html.TextBoxFor(model => model.Email, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Email",
                                       @name = "Email",
                                       @required = "true",
                                       @maxlength = "100"
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Phone No</label>
                                        @Html.TextBoxFor(model => model.PhoneNo, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Phone No",
                                       @name = "PhoneNo",
                                       @required = "true",
                                       @id = "txtPhoneNo",
                                       @autocomplete = "off",
                                       @maxlength = "10"
                                   })

                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">What's No</label>
                                        @Html.TextBoxFor(model => model.WhatsUpNo, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "What's Up No",
                                       @name = "Whatsup No",
                                       @required = "true",
                                       @maxlength = "10"
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">GST No</label>
                                        @Html.TextBoxFor(model => model.GSTNo, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "GST No",
                                       @name = "GSTNo",
                                       @required = "true",
                                       @id = "txtGstNo",
                                       @autocomplete = "off",
                                       @maxlength = "15"
                                   })

                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
        </div>

    </section>

}
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}




