@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;


@model Sunnet_NBFC.Models.clsLogin

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<script src="~/Scripts/sweetalert.min.js"></script>
	<!-- Font Awesome -->
	@Styles.Render("~/bundles/Logincss")
	@Scripts.Render("~/bundles/Loginjs")

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Suneet</b>FINCORP</a>
        </div>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <!-- /.login-logo -->
            <div class="card" ng-app="MyApp">
                <div class="card-body login-card-body" ng-controller="LoginController">
                    <p class="login-box-msg">Sign in to start your session</p>

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.UserName, new
                   {
                       @class = "form-control",
                       @placeholder = "User Name",
                       @name = "User Name",
                       @required = "true",
                       @maxlength = "50",
                       @autocomplete = "off",
                       @Id = "txtUserName"
                   })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(model => model.UserPassword, new
                   {
                       @class = "form-control",
                       @placeholder = "Password",
                       @name = "Password",
                       @required = "true",
                       @maxlength = "50",
                       @autocomplete = "off",
                       @Id = "txtPassword"
                   })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        @Html.Captcha(3)
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" onclick="Validation();" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href='@Url.Action("ForgetPass", "Login")'>I forgot my password</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        }
    </div>
  
    <script src="~/Scripts/CustomJS/Login.js"></script>

    @if (ViewBag.Message != null && ViewBag.Message != "")
    {
        <script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Success");
				swal("TDH", "@ViewBag.Message", "success");
            };
        </script>
    }
    @if (ViewBag.Error != null && ViewBag.Error != "")
    {
        <script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Success");
				swal("TDH", "@ViewBag.Error", "error");
            };
        </script>
    }

</body>
</html>

