@model Sunnet_NBFC.Models.clsLeadDocSign
<style>
	.table {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

		.table td, th {
		}
</style>
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Lead Documents Signing Details</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					@*<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Employee View</li>*@

					@*<h4>@Html.ActionLink("Create New", "StageRole")</h4>*@
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">

				<!-- /.card -->
				<div class="card">
					<!-- /.card-header -->
					<div class="card-body">
						<table class="table table-striped table-bordered table-hover table-responsive" style="display:table;"
							   id="dataTables-example-DetailsDS">
							<thead>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.SanctionLetter)
									</th>
									<td>
										@*@Html.DisplayFor(modelItem => item.SanctionLetter)*@
										@Model.SanctionLetter
									</td>
									<th>
										@Html.DisplayNameFor(model => model.LoanAgrmentKit)
									</th>
									<td>
										@Model.LoanAgrmentKit
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.PDC)
									</th>
									<td>
										@Model.PDC
									</td>
									<th>
										@Html.DisplayNameFor(model => model.NACH)
									</th>
									<td>
										@Model.NACH
									</td>

								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.Affidavit)
									</th>
									<td>
										@Model.Affidavit
									</td>
									<th>
										@Html.DisplayNameFor(model => model.RegisteredMortgageDeed)
									</th>
									<td>
										@Model.RegisteredMortgageDeed
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.EquitableMortageDeed)
									</th>

									<td>
										@Model.EquitableMortageDeed
									</td>
									<th>
										@Html.DisplayNameFor(model => model.BorrowerKyc)
									</th>
									<td>
										@Model.BorrowerKyc
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.CoBorrowerKyc)
									</th>
									<td>
										@Model.CoBorrowerKyc
									</td>
									<th>
										@Html.DisplayNameFor(model => model.GuarantorKyc)
									</th>
									<td>
										@Model.GuarantorKyc
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.BorrowerPhoto)
									</th>
									<td>
										@Model.BorrowerPhoto
									</td>
									<th>
										@Html.DisplayNameFor(model => model.CoBorrowerPhoto)
									</th>
									<td>
										@Model.CoBorrowerPhoto
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.GuarantorPhoto)
									</th>
									<td>
										@Model.GuarantorPhoto
									</td>
									<th>
										@Html.DisplayNameFor(model => model.SignatureVerification)
									</th>

									<td>
										@Model.SignatureVerification
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.DisbursementRequestLetter)
									</th>
									<td>
										@Model.DisbursementRequestLetter
									</td>
									<th>
										@Html.DisplayNameFor(model => model.KycSelfAttested)
									</th>
									<td>
										@Model.KycSelfAttested
									</td>
								</tr>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.DsRemark)
									</th>
									<td colspan="3">
										@Model.DsRemark
									</td>
								</tr>
							</thead>
							@*<tbody>
									@foreach (var item in Model)
									{
										<tr>

											<td>
												@Html.DisplayFor(modelItem => item.LoanAgrmentKit)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.PDC)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.NACH)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Affidavit)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.RegisteredMortgageDeed)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.EquitableMortageDeed)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.BorrowerKyc)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.CoBorrowerKyc)
											</td>

											<td>
												@Html.DisplayFor(modelItem => item.GuarantorKyc)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.BorrowerPhoto)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.CoBorrowerPhoto)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.GuarantorPhoto)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.SignatureVerification)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.DisbursementRequestLetter)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.KycSelfAttested)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Remarks)
											</td>

										</tr>
									}
								</tbody>*@
						</table>
						@*<div class="card-footer">
								@Html.ActionLink("Export to Excel", "ExportToExcel", new { @class = "btn btn-primary" })
							</div>*@


					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>


<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>

@if (ViewBag.Error != null && ViewBag.Error != "")
{
	<script type="text/javascript">

            window.onload = function () {
               // alert("@ViewBag.Error");
				swal("TDH", "@ViewBag.Error", "error");

            };
	</script>
}
@if (ViewBag.Success != null && ViewBag.Success != "")
{
	<script type="text/javascript">
            window.onload = function () {
                //alert("@ViewBag.Success");
				swal("TDH", "@ViewBag.Success", "Success");
            };
	</script>
}




