@model Sunnet_NBFC.Models.clsQuestion
@{ ViewBag.Title = "Question VIEW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Question View</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        @using (Html.BeginForm("ViewQuestion", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="form-group">
                <div class="row">

                    <div class="col-md-3">
                        <label>Main Product </label>
                        @Html.DropDownListFor(model => model.SearchMainProdId, ViewBag.MainProductList as SelectList, "- Select Main Product- ",
                                       new { @class = "form-control", @id = "ddlMainProduct" })

                    </div>
                    <div class="col-md-3">
                        <label>Product </label>
                        @Html.DropDownListFor(model => model.SerarchProdId,
                                       new SelectList(Enumerable.Empty<SelectListItem>(), "ProdId", "ProductName"),
                                       "- Select Product -", new { @class = "form-control", @id = "ddProduct" })
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-secondary">Search</button>

                    </div>
                    <div class="col-md-3">
                        @Html.ActionLink("Export to Excel", "ExportToExcel", null, new { @class = "btn btn-primary" })

                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-12">

                <!-- /.card -->
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Main Product</th>
                                    <th>Product</th>
                                    <th>Question</th>
                                    <th>Answer Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.lst != null)
                                {
                                    foreach (var item in ViewBag.lst)
                                    {

                                        <tr>
                                            <td>@item.MainProduct</td>
                                            <td>@item.Product</td>
                                            <td>@item.Question</td>
                                            <td>@item.QuestionAnsType</td>
                                            <td>
                                                <div class="d-flex order-actions">
                                                    <a href="@Url.Action("EditQuestion","Question",new{Id=item.QuestionId})"
                                                       data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit"><u>Edit</u></a>



                                                    <a href="@Url.Action("DeleteQ","Question",new{Id=item.QuestionId})"
                                                       data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete"
                                                       onclick="return Submit();" style="margin-left:10px;"><u>Delete</u></a>


                                                </div>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Main Product</th>
                                    <th>Product</th>
                                    <th>Question</th>
                                    <th>Answer Type</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="card-footer">
                            @Html.ActionLink("Export to Excel", "ExportToExcel", new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<script src="~/Scripts/CustomJS/CommonFunction.js"></script>
<script type="text/javascript">
    function Submit() {
        if (confirm("Are you sure you want to delete ?")) {
            return true;
        } else {
            return false;
        }
    }</script>