
@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ticket View</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Ticket View</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Ticket No</th>
                                        <th>Software Name</th>
                                        <th>Ticket Type</th>
                                        <th>Client Name</th>
                                        <th>Contact No</th>
                                        <th>Description</th>
                                        <th>Ticket Doc</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.LeadDetails)
                                    {
                                        <tr>
                                            <td>@item.TicketNo</td>
                                            <td>@item.SoftwareName</td>
                                            <td>@item.TicketType</td>
                                            <td>@item.ClientName</td>
                                            <td>@item.ClientContactNo</td>
                                            <td>@item.Description</td>
                                            <td><img src="~/UploadedFiles/@item.TicketDoc" class="img-sm" /></td>
                                        
                                            <td>
                                                @Html.ActionLink("Edit" , "EditProduct", new { id = @item.TicketId })
                                                @Html.ActionLink("Delete", "DeleteProduct", new { id = @item.TicketId })
                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Ticket No</th>
                                        <th>Software Name</th>
                                        <th>Ticket Type</th>
                                        <th>Client Name</th>
                                        <th>Contact No</th>
                                        <th>Description</th>
                                        <th>Ticket Doc</th>
                                        <th></th>
   -                                 </tr>
                                </tfoot>
                            </table>
                            <div class="card-footer">
                                @Html.ActionLink("Export to Excel", "ExportToExcel", new { @class = "btn btn-primary" })
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
